html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main_canvas {
    width: 100%;
    height: 100%;
}

#loader-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);
}

#loader-status {
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    text-align: center;
}

#loader-status-detail {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}